table {
    width: 100%;
}
table, th, td {
    border-collapse: collapse;
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    text-align: left;
}

.pagaminti_kubeliai table,
.pagaminti_kubeliai th,
.pagaminti_kubeliai td {
    width: min-content;
}
.pagaminti_kubeliai th {
    border-top: 1px solid #000;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    border-bottom: 1px solid #000;
}
.pagaminti_kubeliai th:first-child,
.pagaminti_kubeliai td:first-child {
    // border-left: 1px solid #000;
}
.pagaminti_kubeliai th:last-child,
.pagaminti_kubeliai td:last-child {
    // border-right: 1px solid #000;
}

// .naujas_maisimas table,
// .naujas_maisimas th,
// .naujas_maisimas td {
//     width: 8rem;
// }

// .maisimo_duonbaze table,
.maisimo_duonbaze th,
.maisimo_duonbaze td {
    width: min-content;
}
.maisimo_duonbaze th:last-child,
.maisimo_duonbaze td:last-child {
    // width: 11.5rem;
    width: 13.5rem;
}
.maisimo_duonbaze th,
.maisimo_duonbaze td {
    border-top: 1px solid #000;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    border-bottom: 1px solid #000;
}
.maisimo_duonbaze th:first-child,
.maisimo_duonbaze td:first-child {
    border-left: 1px solid #000;
}
.maisimo_duonbaze th:last-child,
.maisimo_duonbaze td:last-child {
    border-right: 1px solid #000;
}

.maisimo_duonbaze tbody tr:hover {
    background-color: #0b05;
}

.btn_centras {
    display: flex;
    justify-content: center;
    width: 100%;
}